body {
    background: #8dc6ff;
}
 
.weather-app {
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    padding: 25px;
    margin: auto 50px;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}

.search-form {
    text-align: center;
    padding: 10px;
}
.search-input {
    font-size: 16px;
    padding: 9px;
    width: 75%;
    border-radius: 6px;
    color: rgb(7, 1, 16);
    background-color: bisque;
}
.search-button {
    padding: 9px;
    border-radius: 6px;
    color: rgb(7, 1, 16);
    background-color: bisque;
}

main {
    padding: 30px;
}
h1 {
    text-align: center;
}

p {
    text-align: center;
}

.temperature-container {
    display: flex;
    font-weight: 900;
    font-size: xx-large;
    justify-content: center;
}