html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #092e54;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.weather-app {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding: 6px;
  margin: auto 30px;
  width: 100%;
  max-width: 600px;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(6, 7, 50) 0%, rgb(67, 20, 209) 100.2%);
}

.search-form {
  text-align: center;
  padding: 10px;
}

.search-input, .search-button {
  font-size: 16px;
  padding: 9px;
  border-radius: 6px;
  color: rgb(7, 1, 16);
  background-color: bisque;
}

main {
  padding: 30px;
}


.current-weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.current-weather {
  flex: 1;
}

.temperature-container {
  display: flex;
  font-weight: 900;
  font-size: 50px;
  align-items: flex-end;
  flex-direction: column;
}

.weather-icon {
  width: 90px;
  height: 90px;
  
}
.weather-forecast {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 30px;
    gap: 15px;
    overflow-x: visible;
    padding: 10px;
}  

.weather-forecast-day {
    text-align: center;
    min-width: 0;
    max-width: 150px;
    margin: 12px 0;
    transition: transform 0.3s ease;
    flex: 0 1 clamp(90px, 17%, 150px);
}
.weather-forecast-day:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 600px) {
  .current-weather-container {
    flex-direction: column;
    text-align: center;
  }

  .current-weather {
    text-align: center;
    margin-bottom: 36px;
  }

  .temperature-container {
    align-items: center;
    flex-direction: column;
  }

  .weather-icon {
    width: 70px;
    height: 70px;
  }
  .search-form {
    flex-direction: column;
    display: flex;
    gap: 10px
  }
}
@media (max-width: 600px) {
  .weather-forecast {
    flex-wrap: nowrap;
    overflow: auto;
    padding: 10px 0;
    justify-content: flex-start;


    
  }
  .weather-forecast-day {
    flex: 0 0 auto;
    min-width: 120px;
  }
}
footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #fff;
}